<title>About</title>

<h1>About</h1>

<p><b>Name:</b> Benjie B. Barcela</p>
<p><b>Age:</b> 20 years old</p>
<p><b>Birthday:</b> January 30, 2000</p>
<p><b>Birthplace:</b> Taguig City</p>
<p><b>Address:</b> Blk. 9 Lot 2, Marcelo 1 Extension, Bagumbayan, Taguig City</p>
<p><b>Course:</b> BS in Information Technology</p>